<%= form_for(tag) do |f| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :h1 %>
    <%= f.text_area :h1 %>
  </div>

  <div class="field">
    <%= f.label :h2 %>
    <%= f.text_area :h2 %>
  </div>

  <div class="field">
    <%= f.label :h3 %>
    <%= f.text_area :h3 %>
  </div>

  <div class="field">
    <%= f.label :h4 %>
    <%= f.text_area :h4 %>
  </div>

  <div class="field">
    <%= f.label :h5 %>
    <%= f.text_area :h5 %>
  </div>

  <div class="field">
    <%= f.label :h6 %>
    <%= f.text_area :h6 %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_area :link %>
  </div>

  <div class="field">
    <%= f.label :site_id %>
    <%= f.text_field :site_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
