<p id="notice"><%= notice %></p>

<p>
  <strong>H1:</strong>
  <%= @tag.h1 %>
</p>

<p>
  <strong>H2:</strong>
  <%= @tag.h2 %>
</p>

<p>
  <strong>H3:</strong>
  <%= @tag.h3 %>
</p>

<p>
  <strong>H4:</strong>
  <%= @tag.h4 %>
</p>

<p>
  <strong>H5:</strong>
  <%= @tag.h5 %>
</p>

<p>
  <strong>H6:</strong>
  <%= @tag.h6 %>
</p>

<p>
  <strong>Link:</strong>
  <%= @tag.link %>
</p>

<p>
  <strong>Site:</strong>
  <%= @tag.site %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
